/** @section Font-face */

@font-face {
    font-family: Karla;
    src: url('fonts/Karla-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Karla;
    src: url('fonts/Karla-Italic.woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Karla;
    src: url('fonts/Karla-Bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Karla;
    src: url('fonts/Karla-BoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}